@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <header>
        <h1>Baz Web App</h1>
    </header>
<main>
    <section id="baz">
        <h2>Baz-Tech Restaurants</h2>
    </section>
</main>
</body>

