@page
@model MyCoreApp.Pages.SlimChickensModel
@{
    ViewData["Title"] = "Slim Chickens";
}
<body>
    <header>
        <h1><img src="/Images/Slim-Chickens.png" /></h1>
    </header>
    <main>
        <section class="maincontainer">
            <button><img src="~/Images/chicks_plate.png" /><br />Chick's Meal<br />$7.99</button>
            <button><img src="~/Images/classic_meal.png" /><br />Classic Meal<br />$8.99</button>
            <button><img src="~/Images/slims_plate.png" /><br />Slim's Meal<br />$10.49</button>
            <button><img src="~/Images/hungry_meal.png" /><br />Hungry Meal<br />$12.59</button>
            <button><img src="~/Images/smokey_cheddar_wrap_meal.png" /><br />Smokey Cheddar Wrap Meal<br />$9.79</button>
            <button><img src="~/Images/buffalo_wrap_meal.png" /><br />Buffalo Wrap Meal<br />$9.79</button>
            <button><img src="~/Images/slims_wrap_meal.png" /><br />Slim's Wrap Meal<br />$9.79</button>
        </section>
    </main>
</body>